*{
    background-color: rgb(183, 247, 225);
}
.heading{
    font-size: 18px;
    text-align: center;
    color: rgb(21, 21, 129);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


div h2{
    font-size: 30px;
    color: brown;
    font-style: oblique;
}

.description, li{
    font-size: 24px;
}


.ingredients, .ingredients li{
    background-color: aquamarine;
}

img{
    width: 500px;
    height: auto
}