*{
    background-color: rgb(183, 247, 225);
}
.heading{
    text-align: center;
    color: rgb(21, 21, 129);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


div h2{
    color: brown;
    font-style: oblique;
}

